# Node modules
node_modules/

# Environment variables
.env

# Webpack build output
dist/
.cache/
webpack-stats.json

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Chrome extension dev artifacts
*.pem  # If you generate a private key for testing

# System files
*.swp

# unnecessary firebase logs
firebase-debug.log
pglite-debug.log
firebase.json

# Firebase functions logs
functions/node_modules/
functions/lib/
functions/expedia-price-tracker-firebase-adminsdk-fbsvc-18f579e443.json
functions/delete_all_send_email_request_in_firestore.js




